@font-face {
  font-family: "mania";
  src: url(fonts/mania.ttf);
}

:root {
  font-family: "mania";
  font-size: 1em;
}

body,
html {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#settings {
  display: flex;
  flex-direction: column;
  padding-left: 1vw;
  padding-right: 1vw;
}

.title {
  padding-left: 1vw;
  padding-right: 1vw;
  text-align: center;
}

.settings-btn {
  font: inherit;
  font-size: 1.5rem;
  margin-top: 1vh;
  height: 20vh;
}

@media screen and (max-width: 600px) {
  .settings-btn {
    font-size: 2rem;
    margin-top: 3vh;
  }
}
