@font-face {
  font-family: "ibm-bold";
  src: url(fonts/IBMPlexSans-Bold.ttf);
}

:root {
  font-family: "ibm-bold";
  font-size: 1em;
  --color1: #272946;
  --color2: #aaea6c;
  --color3: #e7ffee;
  --color4: #3f416c;
}

body,
html {
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color1);
}

#settings {
  display: flex;
  flex-direction: column;
  padding-left: 1vw;
  padding-right: 1vw;
}

.title {
  padding-left: 1vw;
  padding-right: 1vw;
  text-align: center;
  color: var(--color2);
}

@media screen and (max-width: 600px) {
  .settings-btn {
    font-size: 2rem;
    margin-top: 3vh;
  }
}

.settings-btn {
  font: inherit;
  font-size: 1.5rem;
  margin-top: 1vh;
  height: 20vh;
  background-color: var(--color2);
  border-color: var(--color2);
  border-radius: 5px;
  color: var(--color1);
  border: none;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  overflow: auto;
  backdrop-filter: blur(2px);
}

.modal-content {
  background-color: var(--color2);
  border-color: var(--color1);
  border-style: solid;
  margin: 15% auto;
  border-radius: 5px;
  padding: 20px;
  max-width: 500px;
}

.modal-btn-container {
  display: flex;
  flex-direction: column;
}

.modal-btn {
  font: inherit;
  font-size: 1.5rem;
  margin-top: 1vh;
  height: 5vh;
  background-color: var(--color1);
  border-color: var(--color2);
  border-radius: 5px;
  color: var(--color2);
  border: none;
}

.modal-btn:active {
  background-color: var(--color4);
}

.active {
  background-color: var(--color4);
}

.modal-content > h1,
span {
  color: var(--color1);
}

.dpad {
  display: flex;
  position: fixed;
  top: 70%;
  left: 25%;
  z-index: 1;
  opacity: 0.5;
}

.up {
  position: absolute;
  top: -5rem;
  width: 5rem;
  height: 5rem;
}

.down {
  position: absolute;
  top: 5rem;
  width: 5rem;
  height: 5rem;
}

.left {
  position: absolute;
  left: -5rem;
  width: 5rem;
  height: 5rem;
}

.right {
  position: absolute;
  left: 5rem;
  width: 5rem;
  height: 5rem;
}
