/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

@font-face {
  font-family: "ibm-bold";
  src: url(/fonts/IBMPlexSans-Bold.ttf);
}

@font-face {
  font-family: "ibm-regular";
  src: url(/fonts/IBMPlexSans-Regular.ttf);
}

:root {
  font-family: "ibm-bold";
  font-size: 1em;
  --color1: #272946;
  --color2: #aaea6c;
  --color3: #e7ffee;
  --color4: #3f416c;
}

body,
html {
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color1);
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  overflow: auto;
  backdrop-filter: blur(2px);
}

.modal-content {
  background-color: var(--color2);
  border-color: var(--color1);
  border-style: solid;
  margin: 15% auto;
  border-radius: 5px;
  padding: 20px;
  max-width: 500px;
  overflow: auto;
}

.modal-btn-container {
  display: flex;
  flex-direction: column;
}

.modal-btn {
  font: inherit;
  font-size: 1.5rem;
  margin-top: 1vh;
  min-height: 5vh;
  max-height: 10vh;
  background-color: var(--color1);
  border-color: var(--color2);
  border-radius: 5px;
  color: var(--color2);
  border: none;
}

.modal-btn:active {
  background-color: var(--color4);
}

.modal-content > h1,
span,
p {
  color: var(--color1);
}

.modal-content > p {
  font-family: "ibm-regular";
  font-size: 1.2rem;
  font-style: italic;
}

.camera-controller {
  display: flex;
  position: fixed;
  top: 5vh;
  right: 5vw;
  z-index: 1;
  gap: 1vh;
}

.camera-controller-btn {
  color: var(--color2);
  background-color: var(--color1);
  border: var(--color1);
  border-style: solid;
  border-radius: 12px;
  font-size: 2rem;
  width: 12vw;
  opacity: 0.4;
}

.camera-controller-btn:active {
  opacity: 1;
}

.controls-message {
  position: fixed;
  color: var(--color1);
  top: 3vh;
  left: 5vw;
  opacity: 0.4;
  font-size: 1.2rem;
  max-width: 40vw;
  user-select: none;
}
